In [68]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

In [69]:
df = pd.read_csv("../Data/Raw/IMDB Dataset.csv")

In [70]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [72]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(r'([!?.])\1+', r'\1', text)
    text = re.sub(r'(.)\1{2,}', r'\1\1', text)
    text = re.sub(r'\d+/\d+|\d+', '', text)
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\s+', ' ', text).strip()

    words = text.split()
    stop_words = set(stopwords.words('english'))
    lemmatizer = WordNetLemmatizer()
    words = [word for word in words if word not in stop_words]
    words = " ".join(lemmatizer.lemmatize(word) for word in words)

    return words

In [73]:
df['cleaned_text'] = df['review'].apply(clean_text)

In [77]:
df[['review', 'cleaned_text', 'sentiment']].tail()

,review,cleaned_text,sentiment
49995,I thought this movie did a down right good job...,thought movie right good job wasnt creative or...,positive
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",bad plot bad dialogue bad acting idiotic direc...,negative
49997,I am a Catholic taught in parochial elementary...,catholic taught parochial elementary school nu...,negative
49998,I'm going to have to disagree with the previou...,im going disagree previous comment side maltin...,negative
49999,No one expects the Star Trek movies to be high...,one expects star trek movie high art fan expec...,negative